/*sample .css*/
.background {
    -fx-background-color: #1d1d1d;
}

.jfx-text-field, .jfx-password-field {
    -fx-text-inner-color: WHITE;
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: WHITE;
    -jfx-unfocus-color: WHITE;
}

.fn-14 {
    -fx-font-size: 14px;
}
